auxlib==0.0.43
BTrees==4.10.1    
certifi==2021.5.30
cffi==1.15.1      
chardet==4.0.0    
greenlet==2.0.1   
idna==2.10        
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==1.23.5
persistent==4.9.1
Pillow==8.4.0
pycparser==2.21
requests==2.25.1
six==1.16.0
SQLAlchemy==1.4.44
tk==0.1.0
tkdesigner==1.0.6
transaction==3.0.1
urllib3==1.26.6
zc.lockfile==2.0
ZConfig==3.6.0
ZODB==5.7.0
zodbpickle==2.4
zope.interface==5.5.0